<%# Uses rails_bootstrap_form gem.  i.e.:

  bootstrap_form_for(workflow) do |f|

API at: https://github.com/bootstrap-ruby/rails-bootstrap-forms %>

<%= f.select :queue_name, [["entry"], ["long"]], { selected: @workflow.queue_name || "entry", label: "Queue" }, { class: "selectpicker" } %>
<%= f.number_field :num_nodes, { value: (@workflow.num_nodes || 1), label: "Number of nodes" } %>
<%= f.number_field :cpu_cores, { value: (@workflow.cpu_cores || 1), label: "Number of CPU cores" } %>
<%= f.number_field :memory, { value: (@workflow.memory || 1), label: "Amount of memory (Gb)" } %>
<%= f.number_field :walltime, { value: (@workflow.walltime || 1), label: "Walltime (hours)", help: "Defaults to queue walltime" } %>
<%= f.number_field :workdir, { value: (@workflow.workdir || Pathname.new("/hpc/scratch/#{user.name}")), label: "Work Dir", help: "Defaults to /hpc/scratch/#{user.name}" } %>

<div class="row">
  <div class="col-md-12 page-header">
    <h5>Application specific fields</h5>
  </div>
</div>

<%= f.number_field :mpiprocs, { value: @workflow.mpiprocs, label: "mpiprocs" } %>
<%= f.text_field :script_args, { value: @workflow.script_args, label: "Job Script args" } %>
<%= f.file_field :input_file, { value: @workflow.input_file, label: "Input File" } %>
<%= f.text_field :license, { value: @workflow.license, label: "License" } %>
